<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <title>Simple File Hosting</title>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Simple File Hosting</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Change Log</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 70px;">
    <h1>File Upload</h1>
    <p>5 MB max per file. 5 files max per request</p>
    <p>All the files may deleted every 3 months.</p>
</div>

<div class="container kv-main" id="file-input-div">
    <form enctype="multipart/form-data">
        <input id="file-input" name="files" type="file" class="file" multiple="multiple"/>
    </form>
</div>

</body>

<script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"/>
<script th:src="@{/js/plugins/canvas-to-blob.min.js}"/>
<script th:src="@{/js/fileinput.min.js}"/>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"/>

<script>
    /* File input setting */
    $("#file-input").fileinput({
        uploadUrl: 'upload',
        fileSizeGetter: true,
        allowedFileExtensions: ['jpg', 'gif', 'png', 'bmp'],
        maxFileCount: 5,
        maxFileSize: 5 * 1024,
        fileActionSettings: {
            showZoom: false
        },
        resizeImage: true,
        maxImageWidth: 150,
        resizePreference: 'width',
        resizeImageQuality: 0.7
    });
</script>
</html>
